@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@300;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@600&display=swap");
@import url("https://fonts.googleapis.com/icon?family=Material+Icons");
body {
  margin: 0;
  line-height: normal;
  font-family: Roboto;
}

:root {
  /* font sizes */
  --font-size-base: 18px;
  --font-size-lg: 25px;
  /* border radiuses */
  --br-md: 10px;
}